@import '../../variables.scss';


.flipCard {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipCard:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flipCard-Front, .flipCard-Back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipCard-Front {
    background-color: $light-green;
    color: black;
  }
  
  .flipCard-Back {

    color: white;
    transform: rotateY(180deg);
  }

  .backPage{
    width:300px;
  }

  #furniture{
    width: 250px;

  }

  .productInfo{
    position: relative;
    bottom: 230px;
  }