@import '../../variables.scss';

.buttons {
    background-color: white;
    font-size: 3vh;
    color: $font-green;
    border-radius: 50%;
    height: 16vh;
    width: 8vw;
    margin: auto;

}

.login {
    background-color: $dark-green;
    color: $light-green;
}

.logout {
    background-color: $font-green;
    color: $light-green;

}

.register {
    background-color: $med-green;
    color: $font-green;
}

.modals {
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 5%;
    width: 50%;
    height: auto;
    overflow: auto;
    background-image: url(../../resources/logos/logoDotsOnly.png);
    background-size: contain;
    border: 5px dotted $dark-green;
    padding: 2%;
}

.close-btn {
    width: fit-content;
    padding: 2%;
    text-align: right;
    color: $light-green;
    background-color: $dark-green;

}

.modal-forms {
    width: 50%;
    height: auto;
    margin: auto;
    background-color: $dark-green;
    padding: 5%;
}

.modal-inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: $font-green;
    border-radius: 33px;
    text-indent: 2%;
}

.labels {
    color: $light-green;
    font-family: $reg-font;
    font-weight: bold;
    font-size: 4vh;
    width: 100%;
    margin: 1%;

}

.submit-btn {
    margin: 1% 35%;
}


@media screen and (min-width: 600px) {
    
    .buttons {
        height: 16vh;
        width: 8vw;
    }

}