@import '../../variables.scss';

#landing-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#top-area{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    background-color: $light-green;
}

#logo-area {
    height: 25%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

#search-area{
    width:96%;
    display:flex;
    flex-direction: row;
    background-color: $light-green;
    gap:1%;
}

#logins{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-right:2%;
}



@media screen and (min-width: 600px){
    .logo{
        margin-left:2%;
    }

    #top-area{
        height:30%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      
    }
    #logo-area{
        height: 100%;
    
    }
    #search-area{
        width:80%;
        margin:0px;
    }

}