@import '../../variables.scss';

#landing-area {
    background-color: $light-green;
    height: 100vh;
}

#logo-area {
    height: 25%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

@media screen and (min-width: 600px){
    .logo{
        margin-left:2%;
    }
}