@import '../../variables.scss';

#search-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10%;
}

#bar-area{
    display: flex;
    flex-direction: row;
    width:85%;
    margin-top:2%;
}

.search-bar{
    width:100%;
    height: 5%;
    padding: 4%;
    border-radius: 33px;
    background-color: $dark-green;
    align-self: center;
    
}

.search-button{
    background-color: whitesmoke;
    border-radius: 50%;
    height:10vh;
    width:8vw;
    font-size: 3vh;
    margin-top: 15px;
    
    
}

#category-area{
    display: flex;
    flex-direction: row;
    gap:2%;


}

.cat-buttons{
    border-radius: 33px;

}

 
    


@media screen and (max-width: 900px){
    .search-button{
        padding: 35px;
        margin: 2%;
    
    }
}

@media screen and (max-width: 600px){
    #search-bar{
        height: 50%;
    }
    #search-area{
        width: 100%;
        margin-top: -12%;
       
    }
    #category-area{
        position: relative;
        top: -15%;
    }
    .search-button{
        height: 10vh;
        width: 14vw;
        position: relative;
        top: -10%;
    }


}
@media screen and (max-width: 300px){
    #search-bar{
        height: 50%;
    }
    #search-area{
        // width: 100%;
        margin: 0;
        margin-top: -18%;
        margin-right: 3%;
        padding: 21%;
    }
    #category-area{
        display: flex;
        flex-direction: column;
        gap:2%;
        
    }
}

