@import '../../variables.scss';


.search-bar{
    width:75%;
    padding:2%;
    border-radius: 33px;
    background-color: $dark-green;
    
}

.search-button{
    background-color: $dark-green;
    padding: 2%;
    border-radius: 33px;
}

@media screen and (min-width: 600px){
    #search-bar{
        height: 50%;
    }
}